{% extends 'accounts/base-layout.html' %}

{% block title %} Base {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


<div class="content">
  {% block content %}
  
    



  <div class="contact">
    
    
<h1 class="text-center">Contact Us</h1>
    
    
    
    <div class="container contactdesc">
      <div class="row justify-content-center testzyx">
        <div class="col-12 col-md-4  text-center testzyx">
          <i class="fa fa-map-marker-alt fa-2x text-lg-blue" aria-hidden="true"></i>

          <h3>Address</h3>
          <p>United World Trade Center, 4th Floor Tripureshwor, Kathmandu</p>
        </div>
        <div class="col-12 col-md-4  text-center testzyx">
          <i class="fa fa-envelope fa-2x  text-lg-blue" aria-hidden="true"></i>
          <h3>Email</h3>
          <p>office@stradvert.com</p>
          <p>Sales@stradvert.com</p>
        </div>
        <div class="col-12 col-md-4  text-center testzyx">
          <i class="fa fa-phone-square fa-2x text-lg-blue" aria-hidden="true"></i>
          <h3>Phone</h3>
          <p>01-5917243</p>
          <p>9802344521</p>
        </div>
        
      </div>
    </div>

    <div class="testabc">
        
        <p>At our company, we are dedicated to providing exceptional service to our customers. We value their satisfaction above all else and strive to exceed their expectations. We approach every interaction with respect, sincerity, and a commitment to delivering the highest quality service.</p>
      </div>
  

  {% endblock %}
</div>
    <!-- Specific JS goes HERE --> 
    {% block javascripts %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/62e75c5b54f06e12d88c4017/1g9bs1ia2';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
      </script>


  <!--End of Tawk.to Script-->
  
   
    {% endblock javascripts %}