{% extends 'accounts/base-layout.html' %}

{% block title %} Base {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


<div class="content">
  {% block content %}
  {% comment %} <div class="mobile-menu">
    
   
    <i class="fa fa-bars"  style="font-size: 25px; margin-right:5px" aria-hidden="true"></i>
              <span>Menu</span>
 
            </div> {% endcomment %}
  


  <img class="strscreen"src="/static/assets/img/brand/str-night.jpg">
  <div class="blue-block">
    <div class="blue-block-top">
      <h1>Best Option to Expose your Business</h1>
    </div>
    <div class="blue-block-bottom">
    <h2>Place your advertisements  in one of the largest Digital LED Screen in the South Asia</h2>
    </div>
  </div>

  <div class="transparent-block">
    <h1>PLACE YOUR</h1>
    <h1>ADVERTISEMENT HERE</h1>
    <h2><i>United World Trade Center, 4th Floor Tripureshwor, Kathmandu.</i></h2>
    
  </div>

  
        
  {% comment %} <h3>We are the first Digital Advertise publisher in Nepal. Currently we have installed and operating in two place Tripureshwor chowk (UWTC Building) and Naxal ( Laxman Babu Building). Our Screen resolution is 1600x1248(UWTC) and 1040x1320 (Naxal). These are Largest LED in Nepal and top 10 in South Asian Region.</h3> {% endcomment %}
 
 
 
 
 
 
 
 
 
 
 
 
 
  




  

  
  
  {% endblock %}
</div>
    <!-- Specific JS goes HERE --> 
    {% block javascripts %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/62e75c5b54f06e12d88c4017/1g9bs1ia2';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
      </script>


  <!--End of Tawk.to Script-->
  
   
    {% endblock javascripts %}
    
