{% extends 'accounts/base-layout.html' %}

{% block title %} Base {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


<div class="content">
  {% block content %}
  <div class="Agent" id="Agent">
    <h1>Our Digital Screens</h1>
  </div>

  <div class=screen2>
    <div class="container">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/static/assets/img/brand/str.jpeg" style="height:250px;border-radius: 0;" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body mob-desc">
              <h2 class="card-title">UWTC Screen</h2>
              <p class="card-text">Located at UWTC Building in Tripure- shwor chowk, The screen resolution is 1600x1248. The Screen is the Largest LED in Nepal and top 10 in South Asian Region.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    
  
   </div>
   <div class=screen2>
    <div class="container">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/static/assets/img/brand/str.jpeg" style="height:250px;border-radius: 0;" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body mob-desc">
              <h2 class="card-title">Naxal Screen</h2>
              <p class="card-text">Located at Laxman Babu Building in Naxal , The screen resolution is 1040x1320. The Screen is also one of the Largest LED in Nepal and top 10 in South Asian Region.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    
  
   </div>

   <div class="screen">

    <div class="container test">
      <div class="row">
        <div class="col-md-6">
          <img src="/static/assets/img/brand/str.jpeg" style="width:400px;height:350px;" alt="Image" >
        </div>
        <div class="description col-md-6 col-sm-12 align-self-center ">
          <h2 class="text-left">UWTC Screen</h2>
          <p class="text-left">Located at UWTC Building in Tripureshwor chowk, The screen resolution is 1600x1248. The Screen is the Largest LED in Nepal and top 10 in South Asian Region.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="screen" >
    <div class="container test">
      <div class="row">
        
        <div class="description2 col-md-6 col-sm-12 align-self-center ">
          <h2 class="text-left">Naxal Screen</h2>
          <p class="text-left">Located at Laxman Babu Building in Naxal , The screen resolution is 1040x1320. The Screen is also one of the Largest LED in Nepal and top 10 in South Asian Region.</p>
        </div>
  
        <div class="col-md-6 test2">
          <img src="/static/assets/img/brand/str.jpeg" style="width:400px;height:350px;" alt="Image" >
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
    <!-- Specific JS goes HERE --> 
    {% block javascripts %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/62e75c5b54f06e12d88c4017/1g9bs1ia2';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
      </script>


  <!--End of Tawk.to Script-->
  
   
    {% endblock javascripts %}